<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Scrapbook</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.ScrapbookIndex</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTPluginIconName</key>
	<string>scrapbook.icns</string>
	<key>KTPluginName</key>
	<string>Scrapbook</string>
	<key>KTTemplateName</key>
	<string>ScrapbookIndexTemplate</string>
	<key>KTPreferredPageBundleIdentifier</key>
	<string>sandvox.TextPage</string>
	<key>NSPrincipalClass</key>
	<string>ScrapbookIndex</string>
	<key>KTCSSClassName</key>
	<string>scrapbook-index</string>
</dict>
</plist>
