<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.RichTextElement</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>SVN_VERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTCSSClassName</key>
	<string>text</string>
	<key>KTElementSupportsPageUsage</key>
	<true/>
	<key>KTElementSupportsPageletUsage</key>
	<true/>
	<key>KTHelpAnchor</key>
	<string>Text</string>
	<key>KTMinimumAppVersion</key>
	<string>1.5</string>
	<key>KTPageAllowCallouts</key>
	<true/>
	<key>KTPageAllowsNavigation</key>
	<true/>
	<key>KTPageName</key>
	<string>Text</string>
	<key>KTPageShowSidebar</key>
	<true/>
	<key>KTPageletName</key>
	<string>Text</string>
	<key>KTPluginDescription</key>
	<string>Rich Text with Embedded Images</string>
	<key>KTPluginIconName</key>
	<string>/Applications/TextEdit.app/Contents/Resources/rtfd.icns</string>
	<key>KTPluginName</key>
	<string>Text</string>
	<key>KTPluginPriority</key>
	<integer>1</integer>
	<key>KTPluginUntitledName</key>
	<string>Text</string>
	<key>KTTemplateName</key>
	<string>RichTextElementTemplate</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Karelia Software, 2008</string>
	<key>NSPrincipalClass</key>
	<string>RichTextElementDelegate</string>
</dict>
</plist>
