<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>sandvox.Simply Gray</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>CalloutBorderable</key>
	<true/>
	<key>KTMinimumAppVersion</key>
	<string>1.0</string>
	<key>SidebarBorderable</key>
	<true/>
	<key>backgroundRGB</key>
	<string>FFFFFF</string>
	<key>comments</key>
	<string>
 </string>
	<key>copyright</key>
	<string>Copyright © 2006, Karelia Software</string>
	<key>frameRGB</key>
	<string>FFFFFF</string>
	<key>genre</key>
	<string>simple</string>
	<key>tallViewer</key>
	<true/>
	<key>textRGB</key>
	<string>000000</string>
	<key>title</key>
	<string>Simply Gray</string>
	<key>viewport</key>
	<integer>771</integer>
</dict>
</plist>
