(
	{ id = 283155; name = "Books"; },
	{ id = 5174; name = "Music"; },
	{ id = 130; name = "DVD"; },
	{ id = 16261631; name = "Unbox Video Downloads"; },
	{ id = 404272; name = "VHS"; },
	{ id = 599858; name = "Magazines & Newspapers"; },
	{ id = 468642; name = "Computer & Video Games"; },
	{ id = 229534; name = "Software"; },
	{ id = 13993911; name = "Amazon Shorts"; },
	{ id = 172282; name = "Electronics"; },
	{ id = 1065836; name = "Audio & Video"; },
	{ id = 502394; name = "Camera & Photo"; },
	{ id = 301185; name = "Cell Phones & Service"; },
	{ id = 541966; name = "Computers & PC Hardware"; },
	{ id = 1064954; name = "Office Products"; },
	{ id = 11091801; name = "Musical Instruments"; },
	{ id = 1055398; name = "Home & Garden"; },
	{ id = 1057792; name = "Bed & Bath"; },
	{ id = 1057794; name = "Furniture & Décor"; },
	{ id = 3370831; name = "Gourmet Food"; },
	{ id = 284507; name = "Kitchen & Housewares"; },
	{ id = 286168; name = "Outdoor Living"; },
	{ id = 12923371; name = "Pet Supplies"; },
	{ id = 15684181; name = "Automotive"; },
	{ id = 228013; name = "Tools & Hardware"; },
	{ id = 16310091; name = "Industrial & Scientific"; },
	{ id = 1036592; name = "Apparel & Accessories"; },
	{ id = 1040668; name = "Shoes"; },
	{ id = 3367581; name = "Jewelry & Watches"; },
	{ id = 16310101; name = "Grocery"; },
	{ id = 3760911; name = "Beauty"; },
	{ id = 3760901; name = "Health & Personal Care"; },
	{ id = 3375251; name = "Sports & Outdoors"; },
	{ id = 165793011; name = "Toys & Games"; },
	{ id = 165796011; name = "Baby"; },
)