<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.Tilted</string>
	<key>KTMinimumAppVersion</key>
	<string>1.0</string>
	<key>title</key>
	<string>tilted</string>
	<key>copyright</key>
	<string>Copyright © 2006, Karelia Software</string>
	<key>comments</key>
	<string><![CDATA[]]>
	</string>
	<key>SidebarBorderable</key>
	<false/>
	<key>CalloutBorderable</key>
	<false/>
	<key>image replacement</key>
	<dict>
		<key>#sitemenu li.currentPage</key>
		<dict>
			<key>qtzFile</key>
			<string>tilted_h3</string>
		</dict>
		<key>#sitemenu li</key>
		<dict>
			<key>qtzFile</key>
			<string>tilted_h3</string>
		</dict>
		<key>.home-page h1</key>
		<dict>
			<key>qtzFile</key>
			<string>tilted_h1</string>
		</dict>
		<key>h1</key>
		<dict>
			<key>qtzFile</key>
			<string>tilted_h1</string>
		</dict>
		<key>h2</key>
		<dict>
			<key>qtzFile</key>
			<string>tilted_h2</string>
		</dict>
		<key>.article h3</key>
		<dict>
			<key>qtzFile</key>
			<string>tilted_h3</string>
		</dict>
		<key>#sidebar h4</key>
		<dict>
			<key>qtzFile</key>
			<string>tilted_h3</string>
		</dict>
		<key>.callout h4</key>
		<dict>
			<key>qtzFile</key>
			<string>tilted_h3</string>
		</dict>
	</dict>
</dict>
</plist>
