COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf;
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_FAST_OBJC_DISPATCH = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_MODEL_TUNING = G5
GCC_OPTIMIZATION_LEVEL = 0
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREPROCESSOR_DEFINITIONS = DEBUG
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
INSTALL_PATH = $(HOME)/Library/Bundles
LIBRARY_STYLE = BUNDLE
MACOSX_DEPLOYMENT_TARGET = 10.4
OTHER_LDFLAGS = -seg1addr 0x50000000
PREBINDING = NO
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
ZERO_LINK = YES
