<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.PhotoPage</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTCSSClassName</key>
	<string>photo-page</string>
	<key>KTHelpAnchor</key>
	<string>Photo</string>
	<key>KTIncludeSidebar</key>
	<false/>
	<key>KTMainElement</key>
	<string>sandvox.ImageElement</string>
	<key>KTPluginIconName</key>
	<string>photopage.icns</string>
	<key>KTPluginName</key>
	<string>Photo</string>
	<key>KTPluginPriority</key>
	<integer>2</integer>
	<key>KTPluginUntitledName</key>
	<string>Photo</string>
	<key>KTSeparateInspectorSegment</key>
	<true/>
	<key>KTSidebarChangeable</key>
	<true/>
	<key>KTTemplateName</key>
	<string>PhotoPageTemplate</string>
	<key>NSPrincipalClass</key>
	<string>PhotoPageDelegate</string>
</dict>
</plist>
