<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.TextPage</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTCSSClassName</key>
	<string>text-page</string>
	<key>KTHelpAnchor</key>
	<string>Text</string>
	<key>KTIncludeCallout</key>
	<true/>
	<key>KTIncludeSidebar</key>
	<true/>
	<key>KTMainElement</key>
	<string>sandvox.RichTextElement</string>
	<key>KTPluginIconName</key>
	<string>text.icns</string>
	<key>KTPluginName</key>
	<string>Rich Text</string>
	<key>KTPluginPriority</key>
	<integer>1</integer>
	<key>KTPluginUntitledName</key>
	<string>Text</string>
	<key>KTSidebarChangeable</key>
	<true/>
	<key>KTTemplateName</key>
	<string>TextPageTemplate</string>
	<key>NSPrincipalClass</key>
	<string>TextPageDelegate</string>
</dict>
</plist>
