// %1$@ for video ID
// %2$@ for width
// %3$@ for height
// %4$@ for language code


(
	{
        title = "Google";
        url = "http://video.google.com/videoplay?docid=%1$@";
        homeURL = "http://video.google.com/";
		embed = "<embed style='width:400px; height:326px;' id='VideoPlayback' type='application/x-shockwave-flash' src='http://video.google.com/googleplayer.swf?docId=%1$@&hl=en' flashvars=''> </embed>";
		
    },
	{
        title = "Metacafe";
        url = "http://www.metacafe.com/watch/%1$@";
        homeURL = "http://www.metacafe.com/";
		embed = "<embed src='http://www.metacafe.com/fplayer/%1$@.swf' width='400' height='345' wmode='transparent' pluginspage='http://www.macromedia.com/go/getflashplayer' type='application/x-shockwave-flash'> </embed>";
    },
	{
        title = "Revver";
        homeURL = "http://www.revver.com/";
        url = "http://www.revver.com/video/%1$@";
		embed = "<script src='http://flash.revver.com/player/1.0/player.js?mediaId:%1$@;width:480;height:392;' type='text/javascript'></script>";
		
    },

	{
        title = "Viddler";
        url = "http://www.viddler.com/";	// cannot get from URL ...
        homeURL = "http://www.viddler.com/";
		
		embed = "<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' width='437' height='370' id='viddler_giantbomb_2'><param name='movie' value='http://www.viddler.com/player/fc96254b/' /><param name='allowScriptAccess' value='always' /><param name='allowFullScreen' value='true' /><embed src='http://www.viddler.com/player/fc96254b/' width='437' height='370' type='application/x-shockwave-flash' allowScriptAccess='always' allowFullScreen='true' name='viddler_giantbomb_2' ></embed></object>
";
		
    },
	{
        title = "Vimeo";
        url = "http://www.vimeo.com/%1$@";
        homeURL = "http://www.vimeo.com/";
		embed = "<object type='application/x-shockwave-flash' width='400' height='266' data='http://www.vimeo.com/moogaloop.swf?clip_id=%1$@&amp;server=www.vimeo.com&amp;fullscreen=1&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color='>	<param name='quality' value='best' />	<param name='allowfullscreen' value='true' />	<param name='scale' value='showAll' />	<param name='movie' value='http://www.vimeo.com/moogaloop.swf?clip_id=%1$@&amp;server=www.vimeo.com&amp;fullscreen=1&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=' /></object>";
		
    },

	{
		default = 1;
        title = "YouTube";
        homeURL = "http://www.youtube.com/";
        url = "http://www.youtube.com/watch?v=%1$@";
		embed = "<object width='425' height='355'><param name='movie' value='http://www.youtube.com/v/%1$@&rel=0&hl=en'></param><param name='wmode' value='transparent'></param><embed src='http://www.youtube.com/v/%1$@&rel=0&hl=en' type='application/x-shockwave-flash' wmode='transparent' width='425' height='355'></embed></object>";
		width = 320;
		height = 240;
		
    },

)
