<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>DesignSwitcher</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.DesignSwitcherPagelet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTPluginIconName</key>
	<string>designSwitcher.png</string>
	<key>KTPluginInitialProperties</key>
	<dict/>
	<key>KTPageletCanHaveTitle</key>
	<true/>
	<key>KTPluginName</key>
	<string>Design Switcher</string>
	<key>KTPluginUntitledName</key>
	<string>Choose a Design</string>
	<key>KTPluginNibFile</key>
	<string>DesignSwitcherPagelet</string>
	<key>KTPluginPriority</key>
	<integer>3</integer>
	<key>KTPluginResourcesNeeded</key>
	<array>
		<string>styleSwitcher.js</string>
	</array>
	<key>KTTemplateName</key>
	<string>DesignSwitcherPageletTemplate</string>
	<key>NSPrincipalClass</key>
	<string>DesignSwitcherPageletDelegate</string>
</dict>
</plist>
