/* Overall pagelet */
div.rssBadge
{
	margin: 10px;
}

/* Small icon option */
img.smallRSSBadgeIcon { vertical-align:middle; }
img.smallRSSBadgeIconLeft { margin-right:3px; }
img.smallRSSBadgeIconRight { margin-left:3px; }

/* Large icon option */
div.largeRSSBadgeIcon, p.largeRSSBadgeIcon
{
	margin: 0 10px;
	text-align:center !important;
}

img.largeRSSBadgeIcon { margin-bottom: 4px; }
p.largeRSSBadgeIcon { margin: 0; }