<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>sandvox.Night Breeze</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>1589</string>
	<key>CalloutBorderable</key>
	<false/>
	<key>KTMinimumAppVersion</key>
	<string>1.1</string>
	<key>SidebarBorderable</key>
	<false/>
	<key>bannerHeight</key>
	<integer>300</integer>
	<key>bannerName</key>
	<string>headerbg.jpg</string>
	<key>bannerWidth</key>
	<integer>800</integer>
	<key>copyright</key>
	<string>Copyright © 2006, Karelia Software</string>
	<key>genre</key>
	<string>personal</string>
	<key>title</key>
	<string>Night Breeze</string>
	<key>viewport</key>
	<integer>770</integer>
</dict>
</plist>
