<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Image</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.ImageElement</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTPluginIconName</key>
	<string>Image.icns</string>
	<key>KTPluginNibFile</key>
	<string>ImageElement</string>
	<key>KTTemplateName</key>
	<string>ImageElementTemplate</string>
	<key>NSPrincipalClass</key>
	<string>ImageElementDelegate</string>
	<key>KTPluginInitialProperties</key>
	<dict>
		<key>altText</key>
		<string></string>
		<key>captionHTML</key>
		<string></string>
	</dict>
	<key>KTPluginResourcesNeeded</key>
	<array>
		<string>mag.png</string>
<!--	<string>dotphoto.gif</string>	-->
	</array>
</dict>
</plist>
