
// include SVN_VERSION (the first step in any Sandvox build)
#include "/private/tmp/build-sandvox/BuildSettings.xcconfig"

// the "marketing" version is baked into CFBundleShortVersionString
SANDVOX_VERSION = 1.5b3

// the SLA variant to wrap around the .dmg [beta,release]
PRODUCT_VARIANT = beta

// Release builds checkout and use these specific revisions

// ConnectionKit
CK_REVISION = 749

// iMedia
IMEDIA_REVISION = 583

// Sparkle+
SP_REVISION = 116


// Debugging -- should be OMNI_FORCE_ASSERTIONS for beta, DONT_FORCE_ASSERTIONS for release

OMNI_DEBUG_CURRENT_SETTING = OMNI_FORCE_ASSERTIONS
