
// include SVN_VERSION (the first step in any Sandvox build)
#include "/private/tmp/build-sandvox/BuildSettings.xcconfig"

// the "marketing" version is baked into CFBundleShortVersionString
SANDVOX_VERSION = 1.5b11

// the SLA variant to wrap around the .dmg [beta,release]
// Also determines if VARIANT_beta or VARIANT_release is defined.
PRODUCT_VARIANT = beta



// expiry for beta
EXPIRY_TIMESTAMP = '@\"2008-08-29 11:59:59 -0800\"'


// Release builds checkout and use these specific revisions

// ConnectionKit
CK_REVISION = 993

// iMedia
IMEDIA_REVISION = 641

// Debugging -- should be OMNI_FORCE_ASSERTIONS for beta, DONT_FORCE_ASSERTIONS for release

OMNI_DEBUG_CURRENT_SETTING = OMNI_FORCE_ASSERTIONS


