<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${SANDVOX_VERSION} (${SVN_VERSION}), © 2004–2008 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANDVOX_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>${SVN_VERSION}</string>
	<key>KSMinimumAppVersion</key>
	<string>1.5</string>
	<key>KTCSSClassName</key>
	<string>file-download</string>
	<key>KTElementSupportsPageUsage</key>
	<true/>
	<key>KTElementSupportsPageletUsage</key>
	<false/>
	<key>KTHelpAnchor</key>
	<string>File_Download</string>
	<key>KTIncludeSidebar</key>
	<false/>
	<key>KTPageDisableComments</key>
	<true/>
	<key>KTPageSidebarChangeable</key>
	<false/>
	<key>KTPluginIconName</key>
	<string>download.icns</string>
	<key>KTPluginInitialProperties</key>
	<dict>
		<key>uploadMediaInPlaceOfPage</key>
		<true/>
	</dict>
	<key>KTPluginName</key>
	<string>File Download</string>
	<key>KTPluginNibFile</key>
	<string>DownloadPage</string>
	<key>KTPluginUntitledName</key>
	<string>Download</string>
	<key>KTSidebarChangeable</key>
	<false/>
	<key>KTTemplateName</key>
	<string>Download</string>
	<key>NSPrincipalClass</key>
	<string>DownloadPageDelegate</string>
</dict>
</plist>
