<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${SANDVOX_VERSION} (${SVN_VERSION}), © 2004–2010 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANDVOX_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>${SVN_VERSION}</string>
	<key>KSMinimumAppVersion</key>
	<string>2.0</string>
	<key>KTElementAllowsIntroduction</key>
	<true/>
	<key>KSHelpAnchor</key>
	<string>Digg_List</string>
	<key>KTMainElement</key>
	<string></string>
	<key>KTPageletCanHaveTitle</key>
	<true/>
	<key>KTPluginIconName</key>
	<string>digg.icns</string>
	<key>KTPluginInitialProperties</key>
	<dict>
		<key>diggCategory</key>
		<string>all stories</string>
		<key>diggStoryPromotion</key>
		<integer>1</integer>
		<key>maximumStories</key>
		<integer>10</integer>
	</dict>
	<key>KTPluginName</key>
	<string>Digg List</string>
	<key>KTPluginNibFile</key>
	<string>DiggInspector</string>
	<key>KTPluginPriority</key>
	<integer>5</integer>
	<key>KTPluginUntitledName</key>
	<string>My Digg Links</string>
	<key>KTTemplateName</key>
	<string>DiggPlugInTemplate</string>
	<key>NSPrincipalClass</key>
	<string>DiggPlugIn</string>
</dict>
</plist>
