<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>sandvox.Pacific Sky</string>
	<key>CFBundleGetInfoString</key>
	<string>SANDVOX_VERSION (SVN_VERSION), © 2004–2008 Karelia Software</string>
	<key>CFBundleShortVersionString</key>
	<string>SANDVOX_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KSMinimumAppVersion</key>
	<string>1.5</string>
	<key>CalloutBorderable</key>
	<false/>
	<key>SidebarBorderable</key>
	<false/>
	<key>copyright</key>
	<string>Copyright © 2006, Karelia Software</string>
	<key>genre</key>
	<string>business</string>
	<key>title</key>
	<string>Pacific Sky</string>
	<key>viewport</key>
	<integer>764</integer>
</dict>
</plist>
