<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${SANDVOX_VERSION} (${SVN_VERSION}), © 2004–2010 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANDVOX_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>${SVN_VERSION}</string>
	<key>KSMinimumAppVersion</key>
	<string>2.0</string>
	<key>KTCSSClassName</key>
	<string>photogrid-index</string>
	<key>KTCategory</key>
	<string>2</string>
	<key>KTIndexNavigationArrowsStyle</key>
	<integer>1</integer>
	<key>KTPageIconName</key>
	<string>page_grid_sb.tiff</string>
	<key>SVIconPath</key>
	<string>object_grid.tiff</string>
	<key>KTPluginName</key>
	<string>Photo Grid</string>
	<key>KTPluginPriority</key>
	<integer>3</integer>
	<key>KTPreferredPageBundleIdentifier</key>
	<string>sandvox.RichTextElement</string>
	<key>KTPresets</key>
	<array>
		<dict>
			<key>KTPageSettings</key>
			<dict>
				<key>navigationArrowsStyle</key>
				<integer>1</integer>
				<key>collectionSortOrder</key>
				<integer>0</integer>
				<key>thumbnailType</key>
				<integer>3</integer>
				<key>collectionSyndicationType</key>
				<integer>2</integer>
			</dict>
			<key>KTIncludeRSSBadge</key>
			<false/>
			<key>KTPresetTitle</key>
			<string>Photo Album</string>
			<key>KTPresetUntitled</key>
			<string>Photo Album</string>
		</dict>
	</array>
	<key>NSPrincipalClass</key>
	<string>PhotoGridIndex</string>
</dict>
</plist>
