
// we want to grab SANDVOX_VERSION and SVN_VERSION from Sandvox
#include "../../../Xcode/Configurations/Sandvox.xcconfig"

// we want to "link" against Sandvox directly
USER_HEADER_SEARCH_PATHS = "$(SYMROOT)/Release/Sandvox.app/Contents/PrivateHeaders" "$(SYMROOT)/Release/Sandvox.app/Contents/Headers"
BUNDLE_LOADER = $(SYMROOT)/Release/Sandvox.app/Contents/MacOS/Sandvox

// release builds are Universal, using Leopard's SDK
ARCHS = ppc i386
MACOSX_DEPLOYMENT_TARGET = 10.5
SDKROOT = /Developer/SDKs/MacOSX10.5.sdk

// plugins are Cocoa Bundles
INSTALL_PATH = $(HOME)/Library/Bundles
LIBRARY_STYLE = BUNDLE

// keep debugging symbols in separate files so we can symbolize crash logs
// <http://developer.apple.com/tools/xcode/symbolizingcrashdumps.html>
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
ZERO_LINK = NO

STRIP_INSTALLED_PRODUCT = YES
SEPARATE_STRIP = YES
STRIPFLAGS = "-S"
COPY_PHASE_STRIP = NO

DEPLOYMENT_LOCATION = NO
DEPLOYMENT_POSTPROCESSING = YES

ARCHS = $(ARCHS_STANDARD_32_BIT)
ONLY_ACTIVE_ARCH = NO

// we use PROJECT_NAME instead of PRODUCT_NAME
GCC_PREFIX_HEADER = $(PROJECT_NAME)_Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = NO

GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_FAST_OBJC_DISPATCH = YES
GCC_MODEL_TUNING = G5
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_C_LANGUAGE_STANDARD = c99

PREBINDING = YES
