.kLine:focus { outline: gray solid 1px; }

img { -webkit-user-select:none; }

div.svx-placeholder
{
	width:63%;
	min-height:50px;
	background:rgba(0,0,0,0.25);
	margin:auto;
	padding:20px;
	text-align:center;
}

div.kt-parsecomponent-placeholder
{
    border:0 !important;
    margin:0 !important;
    padding:0 !important;
}
