/* Editing text should have gray outline, not standard focus ring */
.kLine {
    outline: rgba(127,127,127,0) solid 1px;
    -webkit-transition: outline-color 0.1s linear;*/
}

.kLine[contenteditable=true]:hover {
    outline-color: rgba(127,127,127,1);
}

.kLine:focus {
    outline-color: rgba(127,127,127,1);
    -webkit-transition: none;
}


/*  Drop zones should have blue border */
.svx-dragging-destination-active {
    border-style: solid;
    border-color: rgba(0,127,255,1);
}

#sidebar { min-height: 190px; }


img { -webkit-user-select:none; }

/*  By default, graphics & callouts in article aren't selectable… */
[contenteditable] .graphic-container,
[contenteditable] .graphic-container *,
[contenteditable] .callout-container,
[contenteditable] .callout-container * {
    -webkit-user-select: none;
}
div[contenteditable] { -webkit-user-select: text; }


/*  Flickr (and potentially other code) uses an offscreen invisible image. This can ruin dragging */
img[width="0"], img[height="0"] { display:none; }


/* Give inline graphics a min height so they can be selected and maniuplated */
/*.graphic { min-height:16px; }   #91772*/


/* While a change is happening in the editor, force floated, editable images not to float so WebKit doesn't insert spurious linebreaks. */
.webeditor-changing [contenteditable=true] img { float:none; display:inline; !important }


div.svx-placeholder
{
	width: 63%;
	min-height: 50px;
	background: rgba(0,0,0,0.25);
	margin: auto;
	text-align: center;
}
