/* Editing text should have gray outline, not standard focus ring */
.kLine {
    outline: rgba(127,127,127,0) solid 1px;
    -webkit-transition: outline-color 0.1s linear;
}

.kLine[contenteditable=true]:hover {
    outline-color:rgba(127,127,127,1);
}

.kLine:focus {
    outline-color:rgba(127,127,127,1);
    -webkit-transition:none;
}


/*  Drop zones should have blue border */
.svx-dragging-destination-active {
    border-style:solid;
    border-color:rgba(0,127,255,1);
}

/*  Super-cunning rule to make only pagelets *inside* an editable area, unselectable */
img, [contenteditable=true] .pagelet {
    -webkit-user-select:none;
}

div.svx-placeholder
{
	width:63%;
	min-height:50px;
	background:rgba(0,0,0,0.25);
	margin:auto;
	padding:20px;
	text-align:center;
}

div.kt-parsecomponent-placeholder
{
    border:0 !important;
    margin:0 !important;
    padding:0 !important;
}
