<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svxSite</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sandvox 1.5 Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>SVMigrationDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sandvox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sandvox Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>svSt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>KTDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svxDesign</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>design.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sandvox Design</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>svDz</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>KTPluginInstaller</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svxElement</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pageplugin.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sandvox Page Element</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>svEl</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>KTPluginInstaller</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Sandvox Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Sandvox Help</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.karelia.${PRODUCT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>REPLACE_ME</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>sandvox</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sandvox</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>REPLACE_ME</string>
	<key>ClickToFlashOptOut</key>
	<true/>
	<key>KSFeedType</key>
	<string>${PRODUCT_VARIANT}</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.6</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2004-2011 Karelia Software. All Rights Reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>KTApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sandvox 1 Document</string>
			<key>UTTypeIconName</key>
			<string>document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.karelia.sandvox.document</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.karelia.com/sandvox/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>svSt</string>
				<key>public.filename-extension</key>
				<string>svxSite</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sandvox 1.5 Document</string>
			<key>UTTypeIconName</key>
			<string>document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.karelia.sandvox.site-document</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.karelia.com/sandvox/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>svSt</string>
				<key>public.filename-extension</key>
				<string>svxSite</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sandvox 2 Document</string>
			<key>UTTypeIconName</key>
			<string>document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.karelia.Sandvox.sandvox</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.karelia.com/sandvox/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>svSt</string>
				<key>public.filename-extension</key>
				<string>sandvox</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.plugin</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.karelia.Sandvox.plugin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>svxElement</string>
				<key>com.apple.ostype</key>
				<string>svEl</string>
			</dict>
			<key>UTTypeDescription</key>
			<string>Sandvox plug-in</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.karelia.com/sandvox/help/z/Sandvox_Developers_Guide.html</string>
			<key>UTTypeIconFile</key>
			<string>pageplugin.icns</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.plugin</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.karelia.Sandvox.design</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>svxDesign</string>
				<key>com.apple.ostype</key>
				<string>svDz</string>
			</dict>
			<key>UTTypeDescription</key>
			<string>Sandvox design</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.karelia.com/sandvox/help/z/Sandvox_Designers_Guide.html</string>
			<key>UTTypeIconFile</key>
			<string>design.icns</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cascading Style Sheet</string>
			<key>UTTypeIdentifier</key>
			<string>public.css</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.w3.org/TR/CSS2/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>TEXT</string>
				<key>public.filename-extension</key>
				<array>
					<string>css</string>
				</array>
				<key>public.mime-type</key>
				<string>text/css</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe Flash</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.shockwave-flash</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.adobe.com/products/flash/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>swf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-shockwave-flash</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.movie</string>
			<key>UTTypeDescription</key>
			<string>Flash video</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.flash.video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
					<string>f4v</string>
					<string>f4p</string>
					<string>f4a</string>
					<string>f4b</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-flv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Theora Video File</string>
			<key>UTTypeIdentifier</key>
			<string>public.ogg-theora</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.theora.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogv</string>
					<string>ogm</string>
				</array>
				<key>public.mime-type</key>
				<string>video/ogg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Webm Video</string>
			<key>UTTypeIdentifier</key>
			<string>public.webm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.webmproject.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
				<key>public.mime-type</key>
				<string>video/webm</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.mpeg-4</string>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>H.264 Video</string>
			<key>UTTypeIdentifier</key>
			<string>public.h264</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.itu.int/rec/T-REC-H.264/en</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp4</string>
					<string>mpg4</string>
					<string>h264</string>
					<string>264</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mp4</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.h264</string>
				<string>public.mpeg-4</string>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>H.264 Video, iOS compatible</string>
			<key>UTTypeIdentifier</key>
			<string>public.h264.ios</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.itu.int/rec/T-REC-H.264/en</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp4</string>
					<string>mpg4</string>
					<string>h264</string>
					<string>264</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mp4</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Vorbis Audio</string>
			<key>UTTypeIdentifier</key>
			<string>public.ogg-vorbis</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vorbis.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogg</string>
					<string>oga</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/ogg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuickTime Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.quicktime-audio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mov</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/mov</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
