<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bannerImage</key>
	<dict>
		<key>alignment</key>
		<string>top</string>
		<key>behavior</key>
		<string>CropToRect</string>
		<key>maxHeight</key>
		<integer>200</integer>
		<key>maxWidth</key>
		<integer>800</integer>
		<key>tag</key>
		<string>banner</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>faviconImage</key>
	<dict>
		<key>alignment</key>
		<string>top</string>
		<key>behavior</key>
		<string>CropToRect</string>
		<key>fileType</key>
		<string>com.microsoft.ico</string>
		<key>maxHeight</key>
		<integer>32</integer>
		<key>maxWidth</key>
		<integer>32</integer>
		<key>upload</key>
		<true/>
	</dict>
	<key>inTextLargeImage</key>
	<dict>
		<key>maxWidth</key>
		<integer>490</integer>
		<key>tag</key>
		<string>text</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>inTextMediumImage</key>
	<dict>
		<key>maxWidth</key>
		<integer>320</integer>
		<key>tag</key>
		<string>textmedium</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>KTPageletMedia</key>
	<dict>
		<key>maxWidth</key>
		<integer>200</integer>
	</dict>
	<key>KTPageMedia</key>
	<dict>
		<key>maxWidth</key>
		<integer>640</integer>
	</dict>
	<key>KTSidebarPageMedia</key>
	<dict>
		<key>maxWidth</key>
		<integer>430</integer>
	</dict>
	<key>largeImage</key>
	<dict>
		<key>maxPixels</key>
		<integer>640</integer>
		<key>tag</key>
		<string>large</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>mediumImage</key>
	<dict>
		<key>maxPixels</key>
		<integer>320</integer>
		<key>tag</key>
		<string>medium</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>originalAsImage</key>
	<dict>
		<key>upload</key>
		<true/>
	</dict>
	<key>pageHeaderImage</key>
	<dict>
		<key>maxHeight</key>
		<integer>128</integer>
		<key>maxWidth</key>
		<integer>200</integer>
		<key>tag</key>
		<string>pagelogo</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>rssImage</key>
	<dict>
		<key>maxHeight</key>
		<integer>400</integer>
		<key>maxWidth</key>
		<integer>144</integer>
		<key>tag</key>
		<string>rss</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>sidebarImage</key>
	<dict>
		<key>maxWidth</key>
		<integer>200</integer>
		<key>tag</key>
		<string>sidebar</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>sidebarThumbnailImage</key>
	<dict>
		<key>maxWidth</key>
		<integer>72</integer>
		<key>New item</key>
		<dict>
			<key>maxPixels</key>
			<integer>320</integer>
			<key>tag</key>
			<string>medium</string>
			<key>upload</key>
			<true/>
		</dict>
		<key>tag</key>
		<string>sidebarthumb</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>simpleViewerThumbnailImage</key>
	<dict>
		<key>alignment</key>
		<string>top</string>
		<key>behavior</key>
		<string>CropToRect</string>
		<key>maxHeight</key>
		<integer>45</integer>
		<key>maxWidth</key>
		<integer>45</integer>
		<key>tag</key>
		<string>svthumb</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>smallImage</key>
	<dict>
		<key>maxPixels</key>
		<integer>200</integer>
		<key>tag</key>
		<string>small</string>
		<key>upload</key>
		<true/>
	</dict>
	<key>thumbnailImage</key>
	<dict>
		<key>behavior</key>
		<string>FitWithinRect</string>
		<key>maxHeight</key>
		<integer>128</integer>
		<key>maxWidth</key>
		<integer>128</integer>
		<key>tag</key>
		<string>thumbnail</string>
		<key>upload</key>
		<true/>
	</dict>
</dict>
</plist>
