
/* IE7 hacks */

*:first-child+html .gridItem img {
	position:relative;
	top:0px;
}

*:first-child+html .gridItem h3 {
	position:relative;
	top:0px;
}

/* Navigation arrows */
div.text-navigation { text-align:center; margin-bottom:1em;}
div.text-navigation div { display:inline; margin:0px 0.5em; }


/* 2.0 callout compatibility. 2.0-compatible designs are expected to implement this themselves */
.callout-container { clear:left; }

.callout-container.left { xfloat:left; }
.callout-container.right { xfloat:right; }

/* 2.0 wrap compatibility. 2.0-compatible designs can further adjust these if they need */
.narrow, .wide { display:block; }
.narrow.left { float:left; }
.narrow.right { float:right; }
.wide.center { margin-left:auto; margin-right:auto; }
.wide.right { margin-left:auto; }

 
/* Firefox reduce dotted lines on links */
.photo-navigation a:focus, .replaced a:focus {overflow:hidden;}

/* JS-Kit hacks */

.js-kit-comments * { clear: none!important; }
.js-kit-comments .js-commentFieldLabel { clear:left !important; }
* html .js-kit-comments  {width:90%;}

/* Disqus correction to prevent overflow scroll bars in some designs */
#dsq-content { overflow:hidden; }
#dsq-content .dsq-auth-header { width: auto!important; }
#dsq-content .dsq-by { margin: 4px 6px 0px 0px; }
#dsq-content .dsq-by a, #dsq-content .dsq-by a:hover { border: 0px none; }
#dsq-content h3 { margin:0px; }
