
// grab SANDVOX_VERSION and SVN_VERSION
#include "../Xcode/Configurations/Sandvox.xcconfig"

ARCHS = ppc i386
FRAMEWORK_SEARCH_PATHS = $(SRCROOT)/../../../Shared/trunk/ThirdParty/Growl

DEBUG_INFORMATION_FORMAT =  dwarf-with-dsym

GCC_DYNAMIC_NO_PIC = YES
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_FAST_OBJC_DISPATCH = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_MODEL_TUNING = G5
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Marvel_Prefix.pch
GCC_PREPROCESSOR_DEFINITIONS = SANDVOX_RELEASE
GCC_SYMBOLS_PRIVATE_EXTERN=NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VALUE = YES
//GCC_WARN_UNUSED_VARIABLE = YES

//INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -C
//INFOPLIST_PREFIX_HEADER = /tmp/build-sandvox/BuildSettings.h
//INFOPLIST_PREPROCESS = YES

LIBRARY_SEARCH_PATHS = $(BUILD_DIR)
MACOSX_DEPLOYMENT_TARGET = 10.4
OTHER_LDFLAGS = -lssl -lcrypto -seg1addr 0x70000000
PREBINDING = NO
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
ZERO_LINK = NO

// this strips frameworks as we copy them (we have to do plugins separately)
COPY_PHASE_STRIP = YES

// these two options generate code without enough symbols for plugins to link
//STRIP_INSTALLED_PRODUCT=YES
//UNSTRIPPED_PRODUCT = NO

// so we do this instead
UNSTRIPPED_PRODUCT = YES
STRIP_INSTALLED_PRODUCT=NO

// and this so we don't have to deal with DSTROOT and INSTALL_PATH
DEPLOYMENT_LOCATION=NO

// and this so we do install-like things appropriately
DEPLOYMENT_POSTPROCESSING=YES
SEPARATE_STRIP=YES
STRIPFLAGS="-S"
