<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Article</key>
	<data>
	SHS4dbyEMTSRiGp5ffB2N5tocF/lrPKlWv45F+GFIL4=
	</data>
	<key>Banner</key>
	<data>
	pShXPIVrmq4wDA8p2Mg9Nl6q8flYk//MXtIbqL3PP8A=
	</data>
	<key>DirectoryPublishingRecord</key>
	<data>
	ncM1Osm+kNxkcEAJB8ysOWmBYghSaRGDtman8ZbqdEY=
	</data>
	<key>ExternalLink</key>
	<data>
	T+RuoRnwh1EwGboCIJpeZqj1gtVWI8DOTrOu/WUqshA=
	</data>
	<key>Favicon</key>
	<data>
	2EHNqt5fGtOKE8zRt4poAjbvlO1tHl8L2vNl5ILw2LI=
	</data>
	<key>File</key>
	<data>
	RSDwFbvZs+mhYK34VXrpgB2g7k3IRE6nGFRAITDeDbE=
	</data>
	<key>FileMedia</key>
	<data>
	j/G0TkaSKdbaP0fhOsKceay360HUo7LwqdnGjDInoUo=
	</data>
	<key>FilePublishingRecord</key>
	<data>
	pqxifYJE6w9cVAN57DLr1t8CnF6GVh61AI6kU5WALuM=
	</data>
	<key>Footer</key>
	<data>
	y4a4hnzd98HbV8KNlSDDAs/Ygxo2Kq/xKNVMV/aU1hU=
	</data>
	<key>Graphic</key>
	<data>
	4Z4oaz0NzScM1spFMEmepsGOzZPUDTxBe0tz8IG8/iY=
	</data>
	<key>GraphicMedia</key>
	<data>
	wXM3Z4m8pL3keIxC8STgwIJUG6A3Ta7V+Fribccjn0w=
	</data>
	<key>HostProperties</key>
	<data>
	Iv7nMiGdmEMyZ3mzWsMixt4wgvjG1r8ooGLqS3QDhio=
	</data>
	<key>Logo</key>
	<data>
	gjuJKkykt/at9taLKRCDXMXsWtUB+WnIXixKmGBLXvo=
	</data>
	<key>LogoMedia</key>
	<data>
	K8rLJMIrepIU5fnr2OasAHZNLtGSBYa8p2mRSr8Dl1s=
	</data>
	<key>Master</key>
	<data>
	fIgrEqgK3Yq+gF+R6Jw/PF879vljdHvBCh0JP/IWZto=
	</data>
	<key>MasterCodeInjection</key>
	<data>
	/jUVqkj7dq8XEN3Eeo8gcIQL7RAgRyyn0JtMF/FKU+c=
	</data>
	<key>MediaGraphic</key>
	<data>
	yT3uKq0E4z8KTOdFaUKsg7CqOJ9j6568NJhjwCRFwbw=
	</data>
	<key>MediaRecord</key>
	<data>
	81axz1Ic9teiUYscHZV7i9EbC8f1VSrZOim6VCqIT6k=
	</data>
	<key>Page</key>
	<data>
	9TiSXq5DLBjyTs1tFiUBTWRodjfEF9z6OH1wWo/LB2Q=
	</data>
	<key>PageCodeInjection</key>
	<data>
	lU7QlST28OSkMhMPNSV/5CxsBcl3Y4hGozpYiGRYwEc=
	</data>
	<key>PageTitle</key>
	<data>
	y6R/IkPGNBr8DZ4DQFCe4Eq+jtQ6LR3vYV8kk4OkIUo=
	</data>
	<key>PageletCaption</key>
	<data>
	NV0lGmKOYbhla1NJ7DAZNEkYV/jxyZXzw4dtB4fZPfw=
	</data>
	<key>PageletIntroduction</key>
	<data>
	zVLs4kUWYxbR4H/dGbBgVbXRV9DUBp79Yw9KNMeh51I=
	</data>
	<key>PageletTitle</key>
	<data>
	xT5leOkG9fNQhYi9ngWHbc9c3J3QwEX53z9W2k9HsAc=
	</data>
	<key>PlugInGraphic</key>
	<data>
	tiDcXz/4cu+QQVi2fBa8R383ljN9U8izOwiB3KidUg8=
	</data>
	<key>PosterFrame</key>
	<data>
	xSv8ngDHNwd2VBFIMiwMGU/2Qj1YmyX9yfQxlCtFiPE=
	</data>
	<key>PublishingRecord</key>
	<data>
	0ezVzWjQ0jMSXToyHMvYxERLMqXhMw+NqhL+ppuWVlY=
	</data>
	<key>RawHTMLGraphic</key>
	<data>
	SyVtHlQXJGXhqNpv2NXUeonLYJ/5AHXablbDGBE3Ddw=
	</data>
	<key>RichText</key>
	<data>
	79mhgzV2nIYxvrUHSSHs7i5hI7Y7zyxUyZCqvrcSlPA=
	</data>
	<key>RootPublishingRecord</key>
	<data>
	ECU0KkruQJJBWYqXWMBK8zmR2xg/BcYMdX2M9dG8VuU=
	</data>
	<key>Sidebar</key>
	<data>
	1sTrLrPBvGLB+j2IQCGr/miftnlwfeEpiWkGBadunUk=
	</data>
	<key>Site</key>
	<data>
	FtLfzjWWaHfDtL58FOOv7rnVp0p03ng+zIF+CwrP6hY=
	</data>
	<key>SiteItem</key>
	<data>
	oCI+Q3s1JcIoUYnfCFAB+KqTrPBWS0NfQ+44k8cHr3U=
	</data>
	<key>SiteSubtitle</key>
	<data>
	gO2kHukm3FLzXCn3Mqg1RorO7Wro0YlXp11Yi9ed3XY=
	</data>
	<key>SiteTitle</key>
	<data>
	1SIxRzM7h20DKV6dxgRLmt1owKrytH0+bk/wiPrEWI4=
	</data>
	<key>TextAttachment</key>
	<data>
	TgEnd0h8j3jXWOVibCePTfcUEt1H89vQPG2VedDNKCI=
	</data>
	<key>TextBox</key>
	<data>
	r/N3OAZsQSfo/InXBGWSvJyNS6defdxDbwtWCfipgX0=
	</data>
	<key>TextBoxBody</key>
	<data>
	fzufLNF8HD4hiRKgHB2Z0z0pPhR/dm++c6qydG9GuhE=
	</data>
	<key>Thumbnail</key>
	<data>
	yz/PSIbUEzP9TGVIZ88qNr8o0cYCckBovIlxFlLzrkk=
	</data>
</dict>
</plist>
