<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>sandvox.Erratic</string>
	<key>CFBundleGetInfoString</key>
	<string>SANDVOX_VERSION (SVN_VERSION), © 2004–2008 Karelia Software</string>
	<key>CFBundleShortVersionString</key>
	<string>SANDVOX_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KSMinimumAppVersion</key>
	<string>1.5</string>
	<key>CalloutBorderable</key>
	<true/>
	<key>SidebarBorderable</key>
	<true/>
	<key>copyright</key>
	<string>Copyright © 2006, Karelia Software</string>
	<key>genre</key>
	<string>artistic</string>
	<key>imageReplacement</key>
	<dict>
		<key>h1</key>
		<dict>
			<key>qtzFile</key>
			<string>erratic</string>
		</dict>
		<key>h1h</key>
		<dict>
			<key>qtzFile</key>
			<string>erratic</string>
		</dict>
		<key>st</key>
		<dict>
			<key>qtzFile</key>
			<string>erratic_st</string>
		</dict>
	</dict>
	<key>title</key>
	<string>Erratic</string>
	<key>viewport</key>
	<integer>730</integer>
</dict>
</plist>
