<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>sandvox.Expansion</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>CalloutBorderable</key>
	<true/>
	<key>KTMinimumAppVersion</key>
	<string>1.0</string>
	<key>SidebarBorderable</key>
	<true/>
	<key>bannerHeight</key>
	<string>150</string>
	<key>bannerName</key>
	<string>bannerImage.jpeg</string>
	<key>bannerWidth</key>
	<string>800</string>
	<key>copyright</key>
	<string>Copyright © 2008, Karelia Software</string>
	<key>genre</key>
	<string>simple</string>
	<key>tallViewer</key>
	<true/>
	<key>title</key>
	<string>Expansion</string>
	<key>viewport</key>
	<integer>800</integer>
</dict>
</plist>
