<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${SANDVOX_VERSION} (${SVN_VERSION}), © 2004–2009 Karelia Software</string>
	<key>KTIndexNavigationArrowsStyle</key>
	<integer>1</integer>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANDVOX_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>${SVN_VERSION}</string>
	<key>KSMinimumAppVersion</key>
	<string>1.5</string>
	<key>KTCSSClassName</key>
	<string>Download-index</string>
	<key>KTPluginCSSFilesNeeded</key>
	<array>
		<string>DownloadIndex.css</string>
	</array>
	<key>KTPluginIconName</key>
	<string>downloadIndex.icns</string>
	<key>KTPluginName</key>
	<string>Download List</string>
	<key>KTPluginPriority</key>
	<integer>2</integer>
	<key>KTPreferredPageBundleIdentifier</key>
	<string>sandvox.RichTextElement</string>
	<key>KTPresets</key>
	<array>
		<dict>
			<key>KTFirstChildSettings</key>
			<dict>
				<key>allowComments</key>
				<false/>
				<key>includeTimestamp</key>
				<false/>
				<key>pluginIdentifier</key>
				<string>sandvox.DownloadElement</string>
			</dict>
			<key>KTPageSettings</key>
			<dict>
				<key>collectionHyperlinkPageTitles</key>
				<false/>
				<key>collectionMaxIndexItems</key>
				<integer>0</integer>
				<key>collectionShowPermanentLink</key>
				<false/>
				<key>collectionSortOrder</key>
				<integer>0</integer>
				<key>collectionSummaryType</key>
				<integer>1</integer>
				<key>collectionSyndicate</key>
				<false/>
			</dict>
			<key>KTPluginPriority</key>
			<integer>2</integer>
			<key>KTPresetTitle</key>
			<string>Download List</string>
			<key>KTPresetUntitled</key>
			<string>List</string>
		</dict>
	</array>
	<key>KTTemplateName</key>
	<string>DownloadIndexTemplate</string>
	<key>NSPrincipalClass</key>
	<string>${PROJECT_NAME}</string>
</dict>
</plist>
