<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.StickamPagelet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTHelpAnchor</key>
	<string>Stickam_Tool</string>
	<key>KTMainElement</key>
	<string></string>
	<key>KTPageletCanHaveTitle</key>
	<true/>
	<key>KTPluginIconName</key>
	<string>Stickam.icns</string>
	<key>KTPluginInitialProperties</key>
	<dict/>
	<key>KTPluginName</key>
	<string>Stickam Tool</string>
	<key>KTPluginNibFile</key>
	<string>StickamPagelet</string>
	<key>KTPluginPriority</key>
	<integer>0</integer>
	<key>KTPluginUntitledName</key>
	<string>My Stickam</string>
	<key>KTTemplateName</key>
	<string>StickamPageletTemplate</string>
	<key>NSPrincipalClass</key>
	<string>StickamPageletDelegate</string>
</dict>
</plist>
