<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${SANDVOX_VERSION} (${SVN_VERSION}), © 2004–2010 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANDVOX_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>${SVN_VERSION}</string>
	<key>KSMinimumAppVersion</key>
	<string>2.0</string>
	<key>KTCSSClassName</key>
	<string>sitemap</string>
	<key>KTElementSupportsPageUsage</key>
	<true/>
	<key>KTElementSupportsPageletUsage</key>
	<true/>
	<key>KSHelpAnchor</key>
	<string>Site_Map</string>
	<key>KTIncludeSidebar</key>
	<true/>
	<key>KTPageDisableComments</key>
	<true/>
	<key>KTPageType</key>
	<string>site-map</string>
	<key>KTPluginIconName</key>
	<string>sitemap.icns</string>
	<key>KTPluginInitialProperties</key>
	<dict>
		<key>compact</key>
		<false/>
		<key>sections</key>
		<false/>
		<key>showHome</key>
		<true/>
		<key>showSiteMap</key>
		<true/>
	</dict>
	<key>KTPluginName</key>
	<string>Site Map</string>
	<key>KTPluginNibFile</key>
	<string>SiteMapInspector</string>
	<key>KTPluginPriority</key>
	<integer>5</integer>
	<key>KTPluginUntitledName</key>
	<string>Site Map</string>
	<key>KTSidebarChangeable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>SiteMapPlugIn</string>
</dict>
</plist>
