<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${SANDVOX_VERSION} (${SVN_VERSION}), © 2004–2009 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANDVOX_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>${SVN_VERSION}</string>
	<key>DefaultListIDs</key>
	<dict>
		<key>ca</key>
		<string>RS6YQNNZCU0J5</string>
		<key>de</key>
		<string>R1KEJU5MDXRDRJ</string>
		<key>fr</key>
		<string>R30000ZNO56RH9</string>
		<key>jp</key>
		<string>R3G0Q98EJAS46D</string>
		<key>uk</key>
		<string>R27IM0LJ9PWD0Z</string>
		<key>us</key>
		<string>RNKG97HK7JE5J</string>
	</dict>
	<key>KSMinimumAppVersion</key>
	<string>1.5</string>
	<key>KSHelpAnchor</key>
	<string>Amazon_List</string>
	<key>KTPageletCanHaveTitle</key>
	<true/>
	<key>KTPluginCSSFilesNeeded</key>
	<array>
		<string>amazonlist.css</string>
	</array>
	<key>KTPluginIconName</key>
	<string>amazon</string>
	<key>KTPluginInitialProperties</key>
	<dict>
		<key>automaticListSorting</key>
		<integer>1</integer>
		<key>automaticListType</key>
		<integer>-1</integer>
		<key>centeredThumbnailWidths</key>
		<integer>100</integer>
		<key>frame</key>
		<integer>2</integer>
		<key>layout</key>
		<integer>1</integer>
		<key>listSource</key>
		<integer>0</integer>
		<key>maxNumberProducts</key>
		<integer>10</integer>
		<key>showComments</key>
		<true/>
		<key>showCreators</key>
		<true/>
		<key>showNewPricesOnly</key>
		<false/>
		<key>showPrices</key>
		<false/>
		<key>showProductPreviews</key>
		<false/>
		<key>showThumbnails</key>
		<true/>
		<key>showTitles</key>
		<true/>
		<key>store</key>
		<integer>1</integer>
	</dict>
	<key>KTPluginNibFile</key>
	<string>Inspector</string>
	<key>KTPluginPriority</key>
	<integer>5</integer>
	<key>KTTemplateName</key>
	<string>template</string>
	<key>NSPrincipalClass</key>
	<string>AmazonListPlugIn</string>
	<key>KTElementSupportsPageUsage</key>
	<true/>
	<key>KTElementSupportsPageletUsage</key>
	<true/>
</dict>
</plist>
