<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${SANDVOX_VERSION} (${SVN_VERSION}), © 2004–2009 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANDVOX_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>${SVN_VERSION}</string>
	<key>KSMinimumAppVersion</key>
	<string>1.5</string>
	<key>KTCSSClassName</key>
	<string>general-index</string>
	<key>KTIndexNavigationArrowsStyle</key>
	<integer>2</integer>
	<key>KTPluginIconName</key>
	<string>index.icns</string>
	<key>KTPluginName</key>
	<string>General Text</string>
	<key>KTPluginPriority</key>
	<integer>1</integer>
	<key>KTPreferredPageBundleIdentifier</key>
	<string>sandvox.RichTextElement</string>
	<key>KTPresets</key>
	<array>
		<dict>
			<key>KTPreferredPageBundleIdentifier</key>
			<string>sandvox.HTMLElement</string>
			<key>KTPluginPriority</key>
			<integer>9</integer>
			<key>KTPresetTitle</key>
			<string>Collection with Raw HTML</string>
			<key>KTPresetUntitled</key>
			<string>Raw HTML</string>
			<key>KTPageSettings</key>
			<dict>
				<key>collectionHyperlinkPageTitles</key>
				<true/>
				<key>collectionMaxIndexItems</key>
				<integer>0</integer>
				<key>collectionShowPermanentLink</key>
				<false/>
				<key>collectionSortOrder</key>
				<integer>0</integer>
				<key>collectionSummaryType</key>
				<integer>1</integer>
				<key>collectionSyndicate</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>KTPageSettings</key>
			<dict>
				<key>collectionHyperlinkPageTitles</key>
				<true/>
				<key>collectionMaxIndexItems</key>
				<integer>0</integer>
				<key>collectionShowPermanentLink</key>
				<false/>
				<key>collectionSortOrder</key>
				<integer>0</integer>
				<key>collectionSummaryType</key>
				<integer>1</integer>
				<key>collectionSyndicate</key>
				<false/>
			</dict>
			<key>KTPluginPriority</key>
			<integer>2</integer>
			<key>KTPresetTitle</key>
			<string>Unsorted Summaries</string>
			<key>KTPresetUntitled</key>
			<string>Collection</string>
		</dict>
		<dict>
			<key>KTFirstChildSettings</key>
			<dict>
				<key>allowComments</key>
				<true/>
				<key>includeTimestamp</key>
				<true/>
				<key>pluginIdentifier</key>
				<string>sandvox.RichTextElement</string>
				<key>richTextHTML</key>
				<string>&lt;p&gt;This is your first blog entry. What are you waiting for? Replace this text with some of your own and start blogging!&lt;/p&gt;</string>
			</dict>
			<key>KTPageSettings</key>
			<dict>
				<key>collectionHyperlinkPageTitles</key>
				<true/>
				<key>collectionMaxIndexItems</key>
				<integer>20</integer>
				<key>collectionShowPermanentLink</key>
				<false/>
				<key>collectionSortOrder</key>
				<integer>3</integer>
				<key>collectionSummaryType</key>
				<integer>3</integer>
				<key>collectionSyndicate</key>
				<true/>
			</dict>
			<key>KTPluginPriority</key>
			<integer>1</integer>
			<key>KTPresetTitle</key>
			<string>Weblog</string>
			<key>KTPresetUntitled</key>
			<string>Weblog</string>
		</dict>
	</array>
	<key>KTTemplateName</key>
	<string>GeneralIndexTemplate</string>
	<key>NSPrincipalClass</key>
	<string>${PROJECT_NAME}</string>
</dict>
</plist>
