<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${SANDVOX_VERSION} (${SVN_VERSION}), © 2004–2010 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANDVOX_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>${SVN_VERSION}</string>
	<key>KSMinimumAppVersion</key>
	<string>2.0</string>
	<key>KTElementAllowsIntroduction</key>
	<true/>
	<key>KTElementSupportsPageUsage</key>
	<true/>
	<key>KTElementSupportsPageletUsage</key>
	<true/>
	<key>KSHelpAnchor</key>
	<string>RSS_Feed</string>
	<key>KTPageletCanHaveTitle</key>
	<true/>
	<key>KTPluginIconName</key>
	<string>rsspagelet.icns</string>
	<key>KTPluginInitialProperties</key>
	<dict>
		<key>max</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<key>KTPluginName</key>
	<string>RSS Feed</string>
	<key>KTPluginNibFile</key>
	<string>FeedInspector</string>
	<key>KTPluginUntitledName</key>
	<string>RSS Feed</string>
	<key>KTTemplateName</key>
	<string>FeedPlugInTemplate</string>
	<key>NSPrincipalClass</key>
	<string>FeedPlugIn</string>
</dict>
</plist>
