<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.SiteMapPage</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_VERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTHelpAnchor</key>
	<string>Site_Map</string>
	<key>KTCSSClassName</key>
	<string>sitemap-page</string>
	<key>KTIncludeSidebar</key>
	<true/>
	<key>KTPageDisableComments</key>
	<true/>
	<key>KTPageType</key>
	<string>site-map</string>
	<key>KTPluginIconName</key>
	<string>sitemap.icns</string>
	<key>KTPluginInitialProperties</key>
	<dict>
		<key>compact</key>
		<false/>
		<key>sections</key>
		<false/>
		<key>showHome</key>
		<true/>
		<key>showSiteMap</key>
		<true/>
	</dict>
	<key>KTPluginName</key>
	<string>Site Map</string>
	<key>KTPluginNibFile</key>
	<string>SiteMapPage</string>
	<key>KTPluginPriority</key>
	<integer>5</integer>
	<key>KTPluginUntitledName</key>
	<string>Site Map</string>
	<key>KTSidebarChangeable</key>
	<true/>
	<key>KTTemplateName</key>
	<string>SiteMapTemplate</string>
	<key>NSPrincipalClass</key>
	<string>SiteMapDelegate</string>
</dict>
</plist>
