<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${SANDVOX_VERSION} (${SVN_VERSION}), © 2004–2009 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANDVOX_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>${SVN_VERSION}</string>
	<key>KSMinimumAppVersion</key>
	<string>1.5</string>
	<key>KSHelpAnchor</key>
	<string>Page_Counter</string>
	<key>KTMainElement</key>
	<string></string>
	<key>KTPageletCanHaveTitle</key>
	<true/>
	<key>KTPluginIconName</key>
	<string>counter.icns</string>
	<key>KTPluginInitialProperties</key>
	<dict>
		<key>selectedTheme</key>
		<integer>0</integer>
	</dict>
	<key>KTPluginName</key>
	<string>Page Counter</string>
	<key>KTPluginNibFile</key>
	<string>PageCounter</string>
	<key>KTPluginPriority</key>
	<integer>5</integer>
	<key>KTPluginUntitledName</key>
	<string>Page Counter</string>
	<key>KTTemplateName</key>
	<string>PageCounter</string>
	<key>NSPrincipalClass</key>
	<string>PageCounterPagelet</string>
</dict>
</plist>
