<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.TagometerPagelet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTMainElement</key>
	<string></string>
	<key>KTPageletCanHaveTitle</key>
	<false/>
	<key>KTPluginIconName</key>
	<string>delicious.32.png</string>
	<key>KTPluginName</key>
	<string>del.icio.us Tagometer</string>
	<key>KTPluginNibFile</key>
	<string>Tagometer</string>
	<key>KTPluginPriority</key>
	<integer>5</integer>
	<key>KTPluginUntitledName</key>
	<string>My del.icio.us Tagometer</string>
	<key>KTTemplateName</key>
	<string>TagometerTemplate</string>
	<key>NSPrincipalClass</key>
	<string></string>
</dict>
</plist>
