#page-top {
	background: url(banner_image.jpg) center top no-repeat;
}

h1 {
	margin-top: 32px;
}

#title {
	min-height: 140px;
}

* html #title {
	height: 120px;
	padding: 10px;
}

#title h1, #title h1 a, #title p {
	color: #fff;
	font-weight: bold;
}