<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bannerCSSSelector</key>
	<string>#sitemenu-container</string>
	<key>backgroundRGB</key>
	<string>0d1012</string>
	<key>bannerHeight</key>
	<integer>265</integer>
	<key>bannerName</key>
	<string>bk-header.jpg</string>
	<key>bannerWidth</key>
	<integer>800</integer>
	<key>CalloutBorderable</key>
	<true/>
	<key>CFBundleGetInfoString</key>
	<string>SANDVOX_VERSION (SVN_VERSION), © 2004–2008 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.No Parking Anytime</string>
	<key>CFBundleShortVersionString</key>
	<string>SANDVOX_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>comments</key>
	<string> Extra: the text area is just about 425px for image sizing 
 </string>
	<key>copyright</key>
	<string>Copyright © 2006, Karelia Software</string>
	<key>frameRGB</key>
	<string>171b1f</string>
	<key>genre</key>
	<string>specialty</string>
	<key>imageReplacement</key>
	<dict>
		<key>h1</key>
		<dict>
			<key>qtzFile</key>
			<string>no_parking</string>
		</dict>
		<key>h1h</key>
		<dict>
			<key>qtzFile</key>
			<string>no_parking</string>
		</dict>
	</dict>
	<key>KSMinimumAppVersion</key>
	<string>1.5</string>
	<key>SidebarBorderable</key>
	<true/>
	<key>tallViewer</key>
	<true/>
	<key>textRGB</key>
	<string>ffffff</string>
	<key>title</key>
	<string>No Parking Anytime</string>
	<key>viewport</key>
	<integer>749</integer>
</dict>
</plist>
