<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2004-2011 Karelia Software. All Rights Reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDisplayName</key>
	<string>Amazon List</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>REPLACE_ME</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>REPLACE_ME</string>
	<key>SVMinimumAppVersion</key>
	<string>2.0</string>
	<key>SVPlugInCSSFiles</key>
	<array>
		<string>amazonlist.css</string>
	</array>
	<key>SVPlugInIconPath</key>
	<string>amazon</string>
	<key>KTPluginInitialProperties</key>
	<dict>
		<key>centeredThumbnailWidths</key>
		<integer>100</integer>
		<key>frame</key>
		<integer>2</integer>
		<key>layout</key>
		<integer>1</integer>
		<key>showComments</key>
		<true/>
		<key>showCreators</key>
		<true/>
		<key>showNewPricesOnly</key>
		<false/>
		<key>showPrices</key>
		<false/>
		<key>showProductPreviews</key>
		<false/>
		<key>showThumbnails</key>
		<true/>
		<key>showTitles</key>
		<true/>
		<key>store</key>
		<integer>1</integer>
	</dict>
	<key>NSPrincipalClass</key>
	<string>AmazonListPlugIn</string>
</dict>
</plist>
