<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HTML</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.HTMLPagelet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTHelpAnchor</key>
	<string>Raw_HTML</string>
	<key>KTMainElement</key>
	<string>sandvox.HTMLElement</string>
	<key>KTPageletCanHaveTitle</key>
	<true/>
	<key>KTPluginIconName</key>
	<string>htmlpage.icns</string>
	<key>KTPluginName</key>
	<string>Raw HTML</string>
	<key>KTPluginPriority</key>
	<integer>9</integer>
	<key>KTPluginUntitledName</key>
	<string>HTML Pagelet</string>
	<key>KTTemplateName</key>
	<string>HTMLPageletTemplate</string>
	<key>NSPrincipalClass</key>
	<string>HTMLPageletDelegate</string>
</dict>
</plist>
