
// grab SANDVOX_VERSION and SVN_VERSION from Sandvox
#include "../../Xcode/Configurations/Sandvox.xcconfig"

COPY_PHASE_STRIP = NO
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_FAST_OBJC_DISPATCH = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_MODEL_TUNING = G5
GCC_OPTIMIZATION_LEVEL = 0
GCC_PRECOMPILE_PREFIX_HEADER = NO
GCC_PREPROCESSOR_DEFINITIONS = DEBUG
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES

INSTALL_PATH = /Library/Spotlight
LIBRARY_STYLE = Bundle
//MACOSX_DEPLOYMENT_TARGET = 10.4
PREBINDING = NO
//SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
ZERO_LINK = YES
