<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Text</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.TextPagelet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>KTHelpAnchor</key>
	<string>Text</string>
	<key>KTMainElement</key>
	<string>sandvox.RichTextElement</string>
	<key>KTPageletCanHaveTitle</key>
	<true/>
	<key>KTPluginIconName</key>
	<string>text.icns</string>
	<key>KTPluginName</key>
	<string>Rich Text</string>
	<key>KTPluginPriority</key>
	<integer>1</integer>
	<key>KTPluginUntitledName</key>
	<string>Text Pagelet</string>
</dict>
</plist>
