<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${SANDVOX_VERSION} (${SVN_VERSION}), © 2004–2009 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.${PROJECT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SANDVOX_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>Svox</string>
	<key>CFBundleVersion</key>
	<string>${SVN_VERSION}</string>
	<key>KSMinimumAppVersion</key>
	<string>1.5</string>
	<key>KTCSSClassName</key>
	<string>Movie</string>
	<key>KTElementAllowsIntroduction</key>
	<true/>
	<key>KTElementSupportsPageUsage</key>
	<true/>
	<key>KTElementSupportsPageletUsage</key>
	<true/>
	<key>KSHelpAnchor</key>
	<string>Movie</string>
	<key>KTPageShowSidebar</key>
	<false/>
	<key>KTPluginDescription</key>
	<string>Play video, audio and Flash files</string>
	<key>KTPluginIconName</key>
	<string>Video.icns</string>
	<key>KTPluginInitialProperties</key>
	<dict>
		<key>captionHTML</key>
		<string></string>
		<key>movieSource</key>
		<integer>0</integer>
	</dict>
	<key>KTPluginName</key>
	<string>Video</string>
	<key>KTPluginNibFile</key>
	<string>VideoElement</string>
	<key>KTPluginPriority</key>
	<integer>5</integer>
	<key>KTPluginResourcesNeeded</key>
	<array>
		<string>AC_QuickTime.js</string>
	</array>
	<key>KTPluginUntitledName</key>
	<string>Video</string>
	<key>KTTemplateName</key>
	<string>VideoElementTemplate</string>
	<key>NSPrincipalClass</key>
	<string>VideoElementDelegate</string>
</dict>
</plist>
