<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bannerCSSSelector</key>
	<string>#page-top</string>
	<key>bannerHeight</key>
	<integer>200</integer>
	<key>bannerName</key>
	<string>Sky.jpeg</string>
	<key>bannerWidth</key>
	<integer>800</integer>
	<key>CalloutBorderable</key>
	<true/>
	<key>CFBundleGetInfoString</key>
	<string>SANDVOX_VERSION (SVN_VERSION), © 2004–2008 Karelia Software</string>
	<key>CFBundleIdentifier</key>
	<string>sandvox.Earth and Sky</string>
	<key>CFBundleShortVersionString</key>
	<string>SANDVOX_VERSION</string>
	<key>CFBundleVersion</key>
	<string>SVN_VERSION</string>
	<key>copyright</key>
	<string>Copyright © 2007, Karelia Software</string>
	<key>genre</key>
	<string>simple</string>
	<key>KSMinimumAppVersion</key>
	<string>1.5</string>
	<key>SidebarBorderable</key>
	<true/>
	<key>tallViewer</key>
	<true/>
	<key>title</key>
	<string>Earth &amp; Sky</string>
	<key>viewport</key>
	<integer>800</integer>
</dict>
</plist>
